<h1>Предметы перcонажа <%= @character.name %> </h1>

<% if !@character_items.blank? %>
    <table>
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Количество</th>
        </tr>
        </thead>

        <tbody>
        <% @character_items.each do |character_item| %>
            <tr>
                <td><%= link_to character_item.default_item.name, character_item %></td>
                <td><%= character_item.value %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>

<br>

<%= link_to 'Назад к персонажу', {controller: 'characters', action: 'show', id: @character.id} %>